/* general */
body {
    background-color: #083B4C;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 1em;
}

/* main */
h1 {
    font-size: 4.8rem;
    margin-bottom: 30px;
}
main section div.container {
    max-width: 800px;
}
.box {
    background-color: #1389B2;
    width: calc(100% / 7 - 20px);
    aspect-ratio: 1 / 1;
    margin: 10px;
    font-size: 1.2rem;
}